div.card.mt-4.mb-5
    div.card-header #{staticConv('选项')}
    div.card-body
        form#configure(method='post', action='/configure')
            div.form-group.row
                label.col-4.col-form-label(for='theme-select') #{staticConv('风格')}
                div.col-8
                    select#theme-select.form-control(name='theme')
                        each theme in footer.themes
                            option(value=theme, selected=(theme === footer.selectedTheme)) #{theme}
            div.form-group.row
                label.col-4.col-form-label(for='tz-select') #{staticConv('时区')}
                div.col-8
                    select#tz-select.form-control(name='tz')
                        each tz in footer.tzs
                            option(value=theme, selected=(tz === footer.selectedTz)) #{tz}
            div.form-group.row
                label.col-4.col-form-label(for='forum-page-select') #{staticConv('主题列表页')}
                div.col-8
                    select#forum-page-select.form-control(name='fp')
                        each fp in footer.forumPc
                            option(value=fp, selected=(fp === footer.selectedForumPc)) #{staticConv('每页')}#{fp}#{staticConv('个主题')}
            div.form-group.row
                label.col-4.col-form-label(for='thread-page-select') #{staticConv('主题内容页')}
                div.col-8
                    select#thread-page-select.form-control(name='tp')
                        each tp in footer.threadPc
                            option(value=tp, selected=(tp === footer.selectedThreadPc)) #{staticConv('每页')}#{tp}#{staticConv('篇文章')}
            div.form-group.row
                label.col-4.col-form-label(for='cc-select') #{staticConv('语言')}
                div.col-8
                    select#cc-select.form-control(name='cc')
                        each display, val in footer.ccs
                            option(value=val, selected=(val === footer.selectedCc)) #{staticConv(display)}
script(type='text/javascript').
    ['tz', 'theme', 'forum-page', 'thread-page', 'cc'].forEach(function (name) {
        document.getElementById(name + '-select').addEventListener('change', function () {
            document.getElementById('configure').submit();
        });
    });