doctype html
html(lang="zh")
    head
        title #{staticConv('M系镜像')} - #{staticConv('搜索')}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href=themeCss)
        style(type='text/css').
            blockquote cite { display: block; }
            .card-body img { max-width: 100%; }
        script(type='text/javascript').
            var G0P05t = function (postId) { window.location.assign((document.getElementById('p' + postId) ? '#p' : '/post/') + postId) }
    body
        div.container
            nav.mt-5.mb-4
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') #{staticConv('首页')}
                    if forum
                        li.breadcrumb-item
                            a(href=forum.link) #{forceConv(forum.name)}
                    li.breadcrumb-item.active
                        | #{staticConv('搜索')}
            h1.mb-5 #{staticConv('搜索：')}
                if username
                    | #{staticConv('用户') + ' [' + username + '] ' + staticConv('发表的主题')}
                else
                    each keyword in keywords
                        span [#{keyword}]
            if posts.length
                each post in posts
                    div.card.my-4
                        div.card-header(id='p' + post.id)
                            if post.authorLink
                                a(href=post.authorLink) #{post.authorName}
                            else
                                | #{post.authorName}
                            span.text-muted ：#{contentConv(post.title)}
                        div.card-body !{contentConv(post.content)}
                        div.card-footer.text-muted #{post.date}
                            div.float-sm-right
                                a.btn.btn-secondary.btn-sm.mr-2(href=post.replyLink) #{staticConv('回复')}
                                a.btn.btn-secondary.btn-sm(href=post.topicLink) #{staticConv('主题内查看')}
            else
                div.alert.alert-warning.my-5 #{staticConv('没有搜索到任何相关结果。')}
            if !maxPage
                if posts.length >= 50
                    div.alert.alert-primary.my-5 #{staticConv('搜索功能目前只显示前 50 个结果。若难以找到你需要的结果，建议使用更具体的关键字。')}
            else
                include pagination.pug