doctype html
html(lang="zh")
    head
        title #{staticConv('M系镜像 - 搜索')}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href=themeCss)
    body
        div.container
            h1.my-5 #{staticConv('搜索')}
            div.form-group.row
                label.col-4.col-sm-3.col-md-2.col-form-label(for='forum-id') #{staticConv('搜索范围')}
                div.col-8.col-sm-9.col-md-10
                    select#forum-id.form-control
                        option(value='') #{staticConv('全站')}
                        each forum in forums
                            option(value=forum.id, selected=(forumId === forum.id)) #{forceConv(forum.name)}
            div.card.my-4
                div.card-header #{staticConv('根据标题搜索主题')}
                div.card-body
                    form(method='get', action='/searchthread')
                        div.input-group
                            input.form-control(name='s', placeholder=staticConv('关键词（空格分割）'))
                            div.input-group-append
                                button.btn.btn-primary #{staticConv('搜索')}
            div.card.my-4
                div.card-header #{staticConv('根据正文搜索文章')}
                div.card-body
                    form(method='get', action='/searchpost')
                        div.input-group
                            input.form-control(name='s', placeholder=staticConv('关键词（空格分割）'))
                            div.input-group-append
                                button.btn.btn-primary #{staticConv('搜索')}
            div.card.my-4
                div.card-header #{staticConv('根据作者搜索主题')}
                div.card-body
                    form(method='get', action='/searchthread')
                        div.input-group
                            input.form-control(name='u', placeholder=staticConv('作者名'))
                            div.input-group-append
                                button.btn.btn-primary #{staticConv('搜索')}
            div.card.mt-4.mb-5
                div.card-header #{staticConv('根据作者搜索文章')}
                div.card-body
                    form(method='get', action='/searchpost')
                        div.input-group
                            input.form-control(name='u', placeholder=staticConv('作者名'))
                            div.input-group-append
                                button.btn.btn-primary #{staticConv('搜索')}
        script(type='text/javascript').
            (function (forumInput, forms) {
                var hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'f';
                [].forEach.call(forms, function (form) {
                    form.addEventListener('submit', function () {
                        hiddenInput.value = forumInput.value;
                        if (forumInput.value) {
                            form.appendChild(hiddenInput);
                        } else if (hiddenInput.parentNode) {
                            hiddenInput.parentNode.removeChild(hiddenInput);
                        }
                    });
                });
            })(document.getElementById('forum-id'), document.getElementsByTagName('form'));