doctype html
html(lang="zh")
    head
        title #{staticConv('M系镜像')} - #{contentConv(title)}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href=themeCss)
        style(type='text/css').
            blockquote cite { display: block; }
            .card-body img { max-width: 100%; }
        script(type='text/javascript').
            var G0P05t = function (postId) { window.location.assign((document.getElementById('p' + postId) ? '#p' : '/post/') + postId) }
    body
        div.container
            nav.mt-5
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') #{staticConv('首页')}
                    li.breadcrumb-item
                        a(href=parent.link) #{forceConv(parent.name)}
                    li.breadcrumb-item.active
                        | #{contentConv(title)}
            h1.mt-4.mb-5 #{contentConv(title)}
            if poll
                div.alert.alert-info
                    | #{staticConv('该主题正在进行投票：')}
                    b #{contentConv(poll)}
                    | #{staticConv('，若须参与投票，请')}
                    a.alert-link(href=originalLink) #{staticConv('跳转回源站')}
            if authorOnly
                div.alert.alert-primary
                    | #{staticConv('只显示')}
                    b #{authorOnly}
                    | #{staticConv('的文章')}
                    a.alert-link.float-right(href=baseLink) #{staticConv('显示全部')}
            each post in posts
                div.card.my-4(id='p' + post.id)
                    div.card-header
                        if post.authorLink
                            a(href=post.authorLink) #{post.authorName}
                        else
                            | #{post.authorName}
                        span.text-muted ：#{contentConv(post.title)}
                    div.card-body !{contentConv(post.content)}
                    div.card-footer.text-muted #{post.date}
                        div.float-sm-right
                            if !authorOnly
                                a.btn.btn-secondary.btn-sm.mr-2(href=post.authorOnlyLink) #{staticConv('只看该作者')}
                            a.btn.btn-secondary.btn-sm.mr-2(href=post.replyLink) #{staticConv('回复')}
                            a.btn.btn-secondary.btn-sm(href=post.originalLink) #{staticConv('回源站查看')}
            include pagination.pug
            div.text-center.mb-5
                a.btn.btn-primary(href=replyLink) #{staticConv('发表回复')}